<div class="div">{{ title }}</div>
<app-new-component></app-new-component>

<button (click)="toggleComponentVisibility()">Toggle letters visibility</button>

<button
  *ngFor="let letter of letters"
  class="button"
  [ngClass]="getClasses(letter.letter)"
  (click)="chooseLetter(letter.letter)">
  Wybierz {{ letter.letter }}
</button>


<div *ngIf="shouldComponentExist">
  <div [ngSwitch]="chosenLetter">
    <ng-container *ngFor="let letter of letters">
      <app-app-char-item
        *ngSwitchCase="letter.letter"
        [letter]="letter"
        (letterClicked)="onLetterClicked($event)">
    </app-app-char-item>
    </ng-container>
  </div>
</div>